h1 {
    font-family: "JetBrains Mono";
    font-weight: 450
}

nav {
    font-family: "JetBrains Mono";
    font-weight: 500;
    font-style: oblique;
}

body {
    font-family: "JetBrains Mono";
    font-weight: 300
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/*  ----  index.html  ----  */

.homepage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-style: oblique;
}

.moto {
    font-style: oblique;
}

/*  ----  about.html  ----  */

.about-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-style: oblique;
}

.portrait-top img {
    width: 35%;
    border-radius: 100%;
}

/*  ----  journal.html  ----  */

.journal-page {
    text-align: center;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 3rem;  
    margin-bottom: 3rem; 
}

/*  ----  coding.html  ----  */

.coding-page {
    text-align: center;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.project {
    text-align: center;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid black;
    border-bottom-width: 50%;
}

/*  ----  photography.html  ----  */

.photography-page {
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.feature-section {
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    gap: 1.5rem;
    align-items: start;
    margin-bottom: 2rem;
}

.highlight img {
    width: 50;
    display: block;
    /*border-radius: 8px;*/
}

.moment {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.25rem;
}

/*  ----  music.html  ----  */

.music-page {
    text-align: center;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.music-section {
    padding-bottom: 2.5rem;
    border-bottom: 1px solid black;
    border-bottom-width: 50%;
}

.song-title {
    font-style: oblique;
}