* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "JetBrains Mono";
    font-weight: 225;
    text-align: left;
    color: #e8e4d9;
    background-color: #141414;

    max-width: 575px;
    margin: 0 auto;
    padding: 2rem;
    line-height: 1.75;
}

nav {
    font-weight: 420;
    font-style: oblique;

    padding-top: 1rem;
    padding-bottom: 1rem;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

footer {
    margin-top: 4rem;
}

/*  ---- formatting ----  */

h1 {
    font-weight: 550;
}

h2 {
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    letter-spacing: 0.25rem;

    margin-bottom: 3rem;
}

h3 {
    font-weight: 500;
    font-size: 1rem;
    text-align: center;

    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

p {
    margin-bottom: 1rem;
}

ul {
    list-style-position: inside;
    list-style-type: none;

    font-style: oblique;
    text-align: center;

    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

hr {
    margin: 0 auto;
    border: none;
    height: 2px;
    width: 75%;
    background-color: #ffffff;
    opacity: 0.4;
}

/*  ---- hyperlinks  ----  */

a {
    color: #e8e4d9;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:visited {
    color: #a6a5a2;
}

a:hover {
    color: #ff6f61;
}

a:active {
    color: #ff6f61;
}

/*  ----  index.html  ----  */

.index-content {
    margin-top: 3rem;
}

.index-tagline {
    margin-top: 3rem;
    font-style: oblique;
    text-align: center;
}

.index-now {
    margin-top: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

/*  ----  about.html  ----  */

.about-content {
    margin-top: 3rem;
}

.about-flexbox {
    display: flex;
}

.about-box-photo {
    display: flex;
    flex: 2;

    margin-left: 1rem;
}

.about-box-photo img{
    width: 80%;
    border-radius: 4px;
}

.about-box-div {
    align-self: center;

    height: calc(160px + 7.5rem - 20px);
    width: 2px;
    background-color: #ffffff;
    opacity: 0.875; 
}

.about-box-links {
    align-items: center;
    justify-content: center;

    display: flex;
    flex: 1;
    flex-direction: column;

    margin-right: 1rem;
    gap: 2.5rem; /* VERTICAL GAP BETWEEN ICONS */
}

.about-box-links img {
    width: 40px;
    filter: brightness(0) invert(1);
    opacity: 0.875;
}

.about-bio {
    margin-top: 3rem;
    font-style: oblique
}

/*  ----  journal.html  ----  */

.journal-content {
    margin-top: 3rem;
}

.journal-year {
    text-align: right;
    font-style: oblique;
}

.journal-entry {
    line-height: 2.25;
}

/*  ----  coding.html  ----  */

.coding-content {
    margin-top: 3rem;
    text-align: center;
}

.coding-repo {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.coding-repo-title {
    margin-bottom: 1.5rem;
}

.coding-repo-description {
    font-style: oblique;
}

.coding-repo-tags {
    font-size: 0.875rem;
    font-weight: 500;
    opacity: 0.6;
}

.coding-repo-tags span + span::before {
    content: "· ";
}

/*  ----  photography.html  ----  */

.photography-content {
    margin-top: 3rem;
}

.photography-box {
    display: flex;
    max-width: 50%;

    flex-direction: row;
    flex: 50%;
}

.column {
    flex: 50%;
}

/*  ----  music.html  ----  */

.music-content {
    margin-top: 3rem;
}