h1 {
    font-family: "Google Sans Code";
    font-weight: 450
}

nav {
    font-family: "Google Sans Code";
    font-weight: 500;
    font-style: oblique;
}

body {
    font-family: "Google Sans Code";
    font-weight: 300
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.feature-section {
    display: grid;
    grid-template-columns: 1.05fr 1fr;
    gap: 1.5rem;
    align-items: start;
    margin-bottom: 2rem;
}

.highlight img {
    width: 100%;
    height: auto;
    display: block;
    /*border-radius: 8px;*/
}

.moment {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.25rem;
}

.project {
    text-align: center;
    max-width: 50%;
    margin: 2rem auto;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid black;
    border-bottom-width: 50%;
}

.music-section {
    text-align: center;
    max-width: 50%;
    margin: 2rem auto;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid black;
    border-bottom-width: 50%;
}

.year {
    text-align: center;
    margin: 2rem auto;
}

.date {
    text-align: center;
    max-width: 75%;
    margin: 1rem auto;
    padding-bottom: 2.5rem;
    border-top: 1px solid black;
    border-top-width: 50%;
}

.linktree {
    margin-left: 1rem;
    font-style: oblique;
}

.linktree-title {
    font-style: oblique;
}

.happening-now {
    margin-left: 1rem;
    font-style: oblique;
}

.happening-now-title {
    font-style: oblique;
}

.song-title {
    font-style: oblique;
}

.song-lyric {
    font-style: oblique;
}

.homepage {
    margin-left: 2rem auto;
}